<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar ================================================== -->
	<div  th:fragment="bootshop_leftnav">
		
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open" th:each="firstCategory : ${firstCategories}"  ><a th:text="${firstCategory.name}" th:href="${'/product/list/firstcategory/' + firstCategory.id}"> </a>
				<ul>
					<li th:each="secondCategory: ${firstCategory.secondCategories}">
						<a class="active" th:text="${secondCategory.name}" th:href="${'/product/list/secondcategoryid/'+secondCategory.id}" >
					  		<i class="icon-chevron-right"></i>
						</a>
					</li>
				</ul>
			</li>
		</ul> 
		<br/>
		 
		
	</div>
<!-- Sidebar end=============================================== -->
</html>