<!DOCTYPE html>
<!-- This template was download from: https://startbootstrap.com/template-overviews/shop-homepage/ -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
	
	
</head>
<link rel="stylesheet" th:href="@{/css/style.default.css}"
		href="../css/style.default.css" />
<body>
	<div th:include="fragments/menu :: menu"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div th:include="fragments/left_nav::left_nav" class="col-lg-3">
			</div>

			<div class="col-lg-9">

			<div class="row">
			
			<div class="item-block">

            <div class="item-img">
                <div class="item-img-content">
                    <img th:src="${book.absolutImagename}" class="book-img" itemprop="image" />
                    </div>
              
            </div>
            <div class="item-info">
                <h1 itemprop="name" th:text="${book.bookname}"></h1>
                <ul class="meta-info hidden-md">
                    <li th:text="${book.format}"></li>
                    <li th:text="${book.language}"></li>
               </ul>

                <div class="author-info hidden-md">
                    <strong>By (author)&nbsp;</strong> <span th:text="${book.author}"></span>  
                 </div>
                    <hr/>
                <div class="item-excerpt trunc" itemprop="description" data-height="230" style="word-wrap: break-word;" th:text="${book.description}">
                 </div>
             </div>
            <div class="item-tools">
                <div class="checkout-tools">
                    <div class="copy-content visible-md" data-target=".item-block .rating-wrap">
                    
                    </div>
                    <div class="price-info-wrap">
                        <div class="item-info-wrap">
                            <div class="price item-price-wrap hidden-xs hidden-sm">
                                        <span  class="sale-price">C$</span><span class="sale-price" th:text="${book.price}"></span>
                                        </div>
                                   
                                </div>
                    </div>
                    <div class="btn-wrap">
                        <div class="copy-content visible-xs visible-sm" data-target=".item-price-wrap"><div class="price item-price-wrap">
                                        <span class="sale-price">C$20.89</span>
                                        </div>
                                        </div>
                        <a href="#" class="btn btn-primary add-to-basket" >Add to basket</a>
                            <a rel="nofollow" href="#"  class="btn btn-grey add-to-wishlist">Add to wishlist</a>

                        <div class="copy-content visible-xs visible-sm" data-target=".social-wrap">
                      </div>
                    </div>
                </div>
            </div>
        </div>
			
			
			<!-- book detail information -->
			<div class="biblio-wrap">

            <div class="biblio-info-wrap">
                <h2 class="biblio-title" >Product details</h2>
                <ul class="biblio-info">

                    <li>
                            <label>Format</label>
                            <span th:text="${book.format}"></span>
                   </li>
                        
                    <li>
                    	<label>page Count</label>
                        <span itemprop="numberOfPages" th:text="${book.pagecount}"></span>
                    </li>
                    <li>
                            <label>Dimensions</label>
                            <span th:text="${book.Dimensions}"></span>
                        </li>
                    <li>
                            <label>Publisher</label>
                            <span th:text="${book.Publisher}">
                            </span>
                        </li>
                    <li>
                            <label>Language</label>
                            <span th:text="${book.language}"></span>
                        </li>
                    <li>
                            <label>ISBN10</label>
                            <span th:text="${book.isbn10}"></span>
                        </li>
                    <li>
                        <label>ISBN13</label>
                        <span itemprop="isbn" th:text="${book.isbn13}"></span>
                    </li>
                    </ul>
            </div>
        </div>
		
			<!-- 
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="card h-100">
								<a href="#"><img class="card-img-top"
									src="http://placehold.it/700x400" alt="" /></a>
								<div class="card-body">
									<h5 class="card-title">
										<a th:text="${book.bookname}" href="#">Item Two</a>
									</h5>
									<h5>C$ <span th:text="${book.price}"/></h5>
									<p class="card-text" th:text="${book.description}"></p>
								</div>
								<div class="card-footer">
									<small class="text-muted">&#9733; &#9733; &#9733;
										&#9733; &#9734;</small>
								</div>
							</div>
						</div> -->
		</div>
		<!-- /.row -->

	</div>
	<!-- /.col-lg-9 -->

	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- footer -->
	<div th:include="fragments/footer :: footer"></div>

</body>

</html>