<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
	
  <head th:include="fragments/bootshop_head :: bootshop_head">
</head>
<body>

<div th:include="fragments/bootshop_header:: bootshop_header"></div>
<div id="carouselBlk">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">

			<div th:class="${iterStat.first}? 'item active': 'item' " th:each="article,iterStat: ${articles}">
				<div class="container">
					<a th:href="@{article.url}"><img style="width:100%" th:src="${article.absolutImagename}"  alt=""/></a>
					<div class="carousel-caption">
						<h4 th:text="${article.title}">Second Thumbnail label</h4>
						<p th:text="${article.desc}"></p>
					</div>
				</div>

			</div>


		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div> 
</div>
<div id="mainBody">
	<div class="container">
	<div class="row">
	<!--  ============== Sidebar ============== -->
	<div id="sidebar" class="span3" th:include="fragments/bootshop_leftnav:: bootshop_leftnav" ></div>
	<!--  ============== Sidebar end============== -->
		<div class="span9">		
		<h4>Latest Products </h4>
			  <ul class="thumbnails">
				<li class="span3" th:each="product : ${products}">
				  <div class="thumbnail">
					<a  th:href="${ '/product/view/' + product.productid}"><img th:src="${product.absolutImagename}" alt=""/></a>
					<div class="caption">
					  <h5 th:text="${product.productname}" >Product name</h5>
					  <p th:text="${#strings.abbreviate(product.description,30)}"> 
						simply  text for product description. 
					  </p>
					  <h4 style="text-align:center"><a class="btn" th:href="${'/product/view/' + product.productid}"> <i class="icon-zoom-in"></i></a> 
					  <a class="btn" href="#" th:onclick="'javascript:addItemToCart(\'' + ${product.productid} + '\');'">Add to <i class="icon-shopping-cart"></i></a>
					  <a class="btn btn-primary" href="#" th:text="${'C$ '+product.price}">$222.00</a></h4>
					</div>
				  </div>
				</li>
			  </ul>	

		</div>
		</div>
	</div>
</div>

<div id="footerSection" th:include="fragments/bootshop_footer :: bootshop_footer"></div>
</body>
</html>