<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
  <head th:include="fragments/bootshop_head :: bootshop_head">
</head>
<body>

<div th:include="fragments/bootshop_header:: bootshop_header"></div>

<div id="mainBody">
	<div class="container">
	<div class="row">
	<!--  ============== Sidebar ============== -->
	<div id="sidebar" class="span3" th:include="fragments/bootshop_leftnav:: bootshop_leftnav" ></div>
	<!--  ============== Sidebar end============== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>I Am Already Registered.</h5>
			<h6>Please login with username and password.</h6>
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form name="loginForm" th:action="@{/login}" method="post">
			  <div class="control-group">
				<label class="control-label" for="Username">Username</label>
				<div class="controls">
				  <input class="span3"  type="text" name="username" placeholder="username" />
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="Password">Password</label>
				<div class="controls">
				  <input type="password" class="span3"  name="password" placeholder="Password" />
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button> 
				</div>
			  </div>
			</form>
		</div>
		</div>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
			<h5>CREATE YOUR ACCOUNT</h5><br/>
			Enter your e-mail address to create an account.<br/><br/><br/>
			<form action="register.html">
			  <div class="control-group">
				<label class="control-label" for="inputEmail0">E-mail address</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail0" placeholder="Email" />
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Create Your Account</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div></div>
</div>	
			
<div id="footerSection" th:include="fragments/bootshop_footer :: bootshop_footer"></div>
</body>
</html>