<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/bootshop_head :: bootshop_head">
</head>
<body>

	<div th:include="fragments/bootshop_header:: bootshop_header"></div>

	<div id="mainBody" ng-app="homeApp">
		<div class="container" ng-controller="homeCtrl" ng-init="init()">
			<div class="row">
				<!--  ============== Sidebar ============== -->
				<div id="sidebar" class="span3"
					th:include="fragments/bootshop_leftnav:: bootshop_leftnav">
				</div>
				<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active">Products List</li>
    </ul>
	<h3> Products List [{{productCount}}]</h3>	
	<hr class="soft"/>
	<p>
		You can select product you like.
	</p>
	<hr class="soft"/>
	  
	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			<li class="span3" ng-repeat="product in products">
			  <div class="thumbnail">
				<a href=""><img ng-src="{{product.absolutImagename}}" alt=""/></a>
				<div class="caption">
				  <h5 >{{product.brand}}</h5>
				  <p >{{product.model}} </p>
				   <h4 style="text-align:center">
					   <a class="btn" href="product_details.html"><i class="icon-zoom-in"></i></a>
					   <a class="btn" href="#" ng-click="">Add to <i class="icon-shopping-cart"></i></a>
					   <a class="btn btn-primary" >C${{product.price}}</a>
				   </h4>
				</div>
			  </div>
			</li>
		  </ul>
	<hr class="soft"/>
	</div>
	<div class="pagination">
			<ul>
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">&rsaquo;</a></li>
			</ul>
			</div>
	
			<br class="clr"/>
</div>
</div>
	
				
				
				
			</div>
		</div>

	<!-- mainBody -->
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
	<script th:src="@{/js/homeController.js}"></script>
	<div id="footerSection"
		th:include="fragments/bootshop_footer :: bootshop_footer"></div>
</body>
</html>