<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head><title>Spring Pizza</title></head>

  <body>
	<h2>Thank you for your order!</h2>
	<p th:text="${order}"></p>
	
	<!-- <p th:text="${order.cartid}"></p> -->
<form method="post">
	<input type="hidden" name="_flowExecutionKey" 
	       th:value="${flowExecutionKey}"/>
	<input type="submit" name="_eventId_finished" value="Finished" />
</form>



	</body>
</html>