<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/bootshop_head :: bootshop_head">
</head>
<body>

	<div th:include="fragments/bootshop_header:: bootshop_header"></div>
	
	<div id="mainBody">
		<div class="container">
			<div class="row">
				<!--  ============== Sidebar ============== -->
				<div id="sidebar" class="span3"
					th:include="fragments/bootshop_leftnav:: bootshop_leftnav">
				</div>
				<!--  ============== Sidebar end ============== -->
				<h1>Welcome Page</h1>
				<form method="post" >
					<input type="hidden" name="_flowExecutionKey" th:value="${flowExecutionKey}"/>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					  <input type="submit" name="_eventId_submit" value="registratry"/><br /> <input
						type="submit" name="_eventId_cancel" value="cancel" />
				</form>
			</div>
		</div>
	</div>
	<div id="footerSection"
		th:include="fragments/bootshop_footer :: bootshop_footer"></div>
</body>
</html>