<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />


<title>Mini Book Online Store</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/justified-nav.css}"
	href="../css/justified-nav.css" />
<link rel="stylesheet" th:href="@{/css/album.css}"
	href="../css/album.css" />


</head>

<body>

<!-- test for spring security -->
<h1 style="color:blue"> Hello! This is Welcome Page!</h1>
     
     <a style="color:blue" th:href="@{/}">Go to Home Page!</a>
     <br/>
     
     <div sec:authorize="isAuthenticated()">
     	hello<span sec:authentication="name">someone</span>
     </div>
     <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
     
     

	<div class="container">

		<div class="masthead">
			<h3 class="text-muted">Mini Book Online Store</h3>

			<nav
				class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav text-md-center nav-justified w-100">
						<li class="nav-item active"><a class="nav-link" href="#">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Books</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Cart</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>
						<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- Book List -->
		<div class="album text-muted">
			<div class="container">
				<div class="row">
					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>
					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>
					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>

					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>
					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>
					<div class="card">
						<img src="../images/thumb.svg" th:attr="src=@{/images/thumb.svg}"
							alt="Card image cap" />
						<p class="card-text">This is a wider card with supporting text
							below as a natural lead-in to additional content. This content is
							a little bit longer.</p>
					</div>

				</div>

			</div>
		</div>
		<!-- book List end -->


		<!-- Site footer -->
		<footer class="footer">
			<p>&copy; Mini Book Online Store 2017</p>
		</footer>

	</div>
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/popper.min.js"></script>
	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript"
		src="../js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>